#bgvideo{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: -1;
}
body{
  margin: 0%;
}
.navbar{
  background-color: rgba(9, 0, 14, 0.799);
  display:flex;
  justify-content: center;
  padding: 0 20px;
  height: 60px;
  gap:50px;
}
.navbar ul{
  list-style: none;
  text-align: center;
  display: flex;
  gap: 40px;
  padding: 0%;
  margin: 0%;
  margin-top: 1%;
}
.logo img{
  width: 50px;
}
.navbar a{
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.navbar a{
  transition: all 0.4s ease  0s;
}
.navbar a:hover{
  color: rgb(127, 232, 255);
}

.logo2{
  width: auto;
  height: 150px;
  margin-bottom: 20px;
}
.character_box{
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #bd06b7d4;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.764);
  text-align: center;
  margin-top: 50px;
}
.character_box p  {
  color: whitesmoke;
}
.character_box li{
  color: whitesmoke;
  list-style: none;
}
.character_box h2{
  color: whitesmoke;
  
}
.character_img {
  width: 180px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #c015ff;
  
}
.specialwords{
  color:#b90bb3d4;
}
.specialwords:hover{
  color: rgb(127, 232, 255);
}
.specialwords
{
  transition: all 0.4s ease  0s;
}
.world{
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}
